node_modules
dist
.tmp
.sass-cache
app/bower_components
api/vendor/
app/api/vendor/respect/rest
nbproject/*
nbproject
bin
build
include
lib
local
man
share
Scripts
.Python
*.pyc
*~
*.sqlite3
.DS_Store
.idea
