frontend/node_modules
frontend/dist
.tmp
.sass-cache
frontend/bower_components
api/vendor/
app/api/vendor/respect/rest
nbproject/*
nbproject
bin
build
include
lib
local
man
share
Scripts
.Python
*.pyc
*~
*.sqlite3
.DS_Store
.idea
