<div>
<form class="form-horizontal" name="hall_membros">
  <fieldset>
    <legend>Informações Pessoais</legend>
    <label class="">Nome</label>
    <input class="" name="nome" data-ng-model="cadastro.dados_pessoais.nome"/>
    
    <label>Logradouro</label>
    <input name="logradouro" data-ng-model="cadastro.endereco.logradouro"/>
    <label>Número</label>
    <input name="numero" data-ng-model="cadastro.endereco.numero"/>
    <label>Bairro</label>
    <input name="bairro" data-ng-model="cadastro.endereco.bairro"/>
    <label>Complemento</label>
    <input name="complemento" data-ng-model="cadastro.endereco.complemento"/>
    <label>CEP</label>
    <input name="cep" data-ng-model="cadastro.endereco.cep"/>
    <label>Profissão</label>
    <input name="profissao" data-ng-model="cadastro.dados_pessoais.profissao"/>
    <label>Sexo</label>
    <select name="sexo" data-ng-model="cadastro.dados_pessoais.sexo">
      <option>Masculino</option>
      <option>Feminino</option>
    </select>
    <label>RG</label>
    <input name="rg" data-ng-model="cadastro.dados_pessoais.rg"/>
    <label>Telefone Residencial</label>
    <input name="residencial" data-ng-model="cadastro.contato.residencial"/>
    <label>Celular</label>
    <input name="celular1" data-ng-model="cadastro.contato.celular1"/>
    <label>Celular</label>
    <input name="celular2" data-ng-model="cadastro.contato.celular2"/>
    <label>E-mail</label>
    <input name="email" data-ng-model="cadastro.contato.email"/>
    <label>Facebook</label>
    <input name="facebook" data-ng-model="cadastro.contato.facebook"/>
    <label>Tipo Sanguíneo</label>
    <input name="tipo_sanguineo" data-ng-model="cadastro.dados_pessoais.tipo_sanguineo"/>
    <label>Data de Nascimento</label>
    <input name="data_nascimento" data-ng-model="cadastro.dados_pessoais.data_nascimento"/>
  </fieldset>
  <fieldset>
    <legend> Histórico Familiar </legend>
    <label>Estado Civil</label>
    <select name="estado_civil" data-ng-model="cadastro.historico_familiar.estado_civil">
      <option> Solteiro(a) </option>
      <option> Casado(a) </option>
      <option> Divorciado(a) </option>
      <option> Viúvo(a) </option>
    </select>
    <label>Data de Casamento</label>
    <input name="data_casamento" data-ng-model="cadastro.historico_familiar.data_casamento"/>
    <label>Nome Conjuje</label>
    <input name="nome_conjuje" data-ng-model="cadastro.historico_familiar.nome_conjuje"/>
    <label>Filhos ?</label>
    <input type="checkbox" name="filhos" data-ng-model="cadastro.historico_familiar.filhos"/>
    <label> Nr Filhos </label>
    <input type="number" name="nr_filhos" data-ng-model="cadastro.historico_familiar.nr_filhos"/>
    <label> Nome Pai </label>
    <input type="text" name="nome_pai" data-ng-model="cadastro.dados_pessoais.nome_pai"/>
    <label> Nome Mãe </label>
    <input type="text" name="nome_mae" data-ng-model="cadastro.dados_pessoais.nome_mae"/>
  </fieldset>
  <fieldset>
    <legend> Teologia </legend>
    <label> Curso </label>
    <input type="text" name="curso" data-ng-model="cadastro.teologia.curso"/>
    <label> Instituição </label>
    <input type="text" name="instituicao" data-ng-model="cadastro.teologia.instituicao"/>
    <label> Duração </label>
    <input type="text" name="duracao" data-ng-model="cadastro.teologia.duracao"/>
    <label> Anexos </label>
    <input type="file" name="anexo" data-ng-model="cadastro.teologia.anexo"/>
  </fieldset>
  <fieldset>
    <legend> Histórico Eclesiastico </legend>
    <label> Data Conversão </label>
    <input 
      type="text"
      name="data_conversao"
      data-ng-model="cadastro.historico_eclesiastico.data_conversao"
    />
    <label> Data Batismo </label>
    <input 
      type="text"
      name="data_batismo"
      data-ng-model="cadastro.historico_eclesiastico.data_batismo"
    />
    <label> Cargo </label>
    <input type="text" name="cargo" data-ng-model="cadastro.cargo.cargo"/>
    <label> Data Consagração </label>
    <input type="text" name="data_consagracao" data-ng-model="cadastro.cargo.data_consagracao"/>
    <label> Igreja </label>
    <input type="text" name="igreja" data-ng-model="cadastro.cargo.igreja"/>
    <label> Cidade </label>
    <input type="text" name="cargo_cidade" data-ng-model="cadastro.cargo.cidade"/>
    
  </fieldset>
  <button class="btn btn-primary" data-ng-click="salvar()"> Enviar </button>
  <button class="btn btn-warning" type="reset"> Limpar</button>
  <a class='btn btn-danger' href="#/"> Cancelar</a>
</form>
</div>